<template>
    <div>
        <h1>{{ title }}</h1>
        <h2>HOLA probando</h2>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Rubenito'
        }
    }
}
</script>